HUACAI_DB_URL=jdbc:mysql://127.0.0.1:3306/huacai_system?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
HUACAI_DB_USERNAME=root
HUACAI_DB_PASSWORD=root
HUACAI_JWT_SECRET=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
HUACAI_JWT_EXPIRE_SECONDS=7200
HUACAI_FILE_LOCAL_DIR=/tmp/huacai-files
